/* HeaderComponent */
#header-container{
    background-color: #fff;
    margin: 1.5em;
    padding: 1em;
  }
  
  #header-container>div{
    display: flex;  
    justify-content: center;
    padding: .6em 0;
  }
  
  #packages{
    font-size: 20pt;
  }
  
  #services{
    padding: 0;
  }
  
  #services>div{
    flex: 1 1 auto;
    text-align: center; 
    border: 1px solid #ccc;
    font-size: 12pt;
    padding: .4em 0;
  }
  
  #last-update{
    color: #ccc;
    font-size: 10pt;
    padding-bottom: 1em !important;
  }