/* HeaderComponent */
#header-container{
    border-radius: 6px;
    background-color: #fff;
    margin: 1.5em;
    padding: 1em;
  }
  
  #header-container>div{
    display: flex;  
    justify-content: center;
    padding: .6em 0;
  }
  
  #packages{
    font-size: 20pt;
  }
  
  #services{
    padding: 0;
    position: relative;
  }
  
  .customBorder1::before {
    content: "";
    position: absolute;
    right: 112px;
    top: 19px;
    height: 50%;
    width: 1px;
    border-right: 1px solid #EDEDED;
  }
  .customBorder2::before {
    content: "";
    position: absolute;
    left: 107px;
    top: 19px;
    height: 50%;
    width: 1px;
    border-right: 1px solid #EDEDED;
  }
  #services>div{
    flex: 1 1 auto;
    text-align: center; 
    border-top: 1px solid #EDEDED;
    border-bottom: 1px solid #EDEDED;
    font-size: 12pt;
    padding: .4em 0;
  }
  
  #last-update{
    color: #ccc;
    font-size: 10pt;
    padding-bottom: 1em !important;
  }