.detail-container {
    background-color: #fff;
    margin: 1.5em;
    padding: 2em;

    #recipient-id {
        font-weight: bold;
        font-size: 20px;
    }

    #recipient-name {
        font-weight: 100;
        font-size: 20px;
    }

    table {
        border-collapse: collapse;
        border-spacing: 0;
        border: 1px solid rgba(0, 0, 0, 0.101961);
        margin: 1.5em 0;
        border-radius: 6px;
        border-style: hidden;
        box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.101961);
    }

    td {
        border: 1px solid rgba(0, 0, 0, 0.101961);
        border-collapse: collapse;
    }

    table * {
        padding: 1em 3em;
    }

    .cell-header {
        color: #8C8C8C;
        font-weight: 100;
    }
    .cell-dowload {
        color: #3483FA;
        font-size: 16px;
        padding-top: 1.5rem;
        padding-bottom: 1.5rem;
    }
}